{% block content%}
<script>
$(".custom-file-input").on("change", function() {
var fileName = $(this).val().split("\\").pop();
$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
  <div class="card text-white bg-primary mb-3" style="max-width:18rem;">
    <div class="card-header" style=""><center>Upload New Face Image</center>

    </div>
    <div class="card-body">

      <div class="card-content">
        <br></br>
        You can upload new face image here. This will add the image to the database for further Classification.
        <br></br>
        <a href="{% url 'filehandling:image_upload'%}" class="btn btn-info" role="button">Click Here</a>


      </div>

    </div>



  </div>



{% endblock%}
