{% block content%}
  <div class="card text-white bg-success mb-3" style="max-width:18rem;">
    <div class="card-header"><center>Check Uploaded Data</center>

    </div>
    <div class="card-body">
      <center>
        <div class="card-content">
          <br></br>
          Here You can see the Image of people whom You have added to the database for the Classification purposes.
          <br></br>
          <a href="{% url 'filehandling:see-image'%}" class="btn btn-danger" role="button">Click Here</a>




      </center>

    </div>



  </div>


{% endblock%}
